______
**1. Write a program to initialize a dictionary (of your choice) and create a pandas DataFrame from it. Print the dataframe?**

In [1]:
import pandas as pd

# Initialize a dictionary with sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Gender': ['F', 'M', 'M']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M

___
**2. Write a program to read the CSV file "summer.csv" into a pandas DataFrame "df", display the first 5 rows, and print the DataFrame's shape**

In [2]:
df = pd.read_csv("summer.csv")
print(df.head())
print(df.shape)

   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
(31165, 9)

___
**3. Write a program to display the last 10 rows of the DataFrame?**

In [3]:
print(df.tail(10))

       Year    City      Sport           Discipline  \
31155  2012  London  Wrestling  Wrestling Freestyle
31156  2012  London  Wrestling  Wrestling Freestyle
31157  2012  London  Wrestling  Wrestling Freestyle
31158  2012  London  Wrestling  Wrestling Freestyle
31159  2012  London  Wrestling  Wrestling Freestyle
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                            Athlete Country Gender     Event   Medal
31155                 AHMADOV, Emin     AZE    Men  Wg 74 KG  Bronze
31156          KAZAKEVIC, Aleksandr     LTU    Men  Wg 74 KG  Bronze
31157                 KHUGAEV, Alan     RUS    Men  Wg 84 KG    Gold
31158  EBRAHIM, Karam Mohamed Gaber     EGY    Men  Wg 84 KG  Silver
31159               GAJIYEV, Danyal     KAZ    Men  Wg 84 KG  Bronze
31160            JANIKOWSKI, Damian     POL    Men  Wg 84 KG  Bronze
31161     REZAEI, Ghasem Gholamreza     IRI    Men  Wg 96 KG    Gold
31162                TOTROV, Rustam     RUS    Men  Wg 96 KG  Silver
31163             ALEKSANYAN, Artur     ARM    Men  Wg 96 KG  Bronze
31164                LIDBERG, Jimmy     SWE    Men  Wg 96 KG  Bronze

___
**4. Write a program to get a summary of the DataFrame (such as the mean, count, etc.) and print the data types of all columns?**

In [4]:
print(df.describe(include='all'))
print("\nData types of all columns:")
print(df.dtypes)

                Year    City     Sport Discipline          Athlete Country  \
count   31165.000000   31165     31165      31165            31165   31161
unique           NaN      22        43         67            22762     147
top              NaN  London  Aquatics  Athletics  PHELPS, Michael     USA
freq             NaN    3567      4170       3638               22    4585
mean     1970.482785     NaN       NaN        NaN              NaN     NaN
std        33.158416     NaN       NaN        NaN              NaN     NaN
min      1896.000000     NaN       NaN        NaN              NaN     NaN
25%      1948.000000     NaN       NaN        NaN              NaN     NaN
50%      1980.000000     NaN       NaN        NaN              NaN     NaN
75%      2000.000000     NaN       NaN        NaN              NaN     NaN
max      2012.000000     NaN       NaN        NaN              NaN     NaN

       Gender     Event  Medal
count   31165     31165  31165
unique      2       666      3
top       Men  Football   Gold
freq    22746      1497  10486
mean      NaN       NaN    NaN
std       NaN       NaN    NaN
min       NaN       NaN    NaN
25%       NaN       NaN    NaN
50%       NaN       NaN    NaN
75%       NaN       NaN    NaN
max       NaN       NaN    NaN

Data types of all columns:
Year           int64
City          object
Sport         object
Discipline    object
Athlete       object
Country       object
Gender        object
Event         object
Medal         object
dtype: object

___
**5. Write a program to select a single column "Gender" from the DataFrame?**

In [5]:
gender_column = df["Gender"]
print(gender_column)

0        Men
1        Men
2        Men
3        Men
4        Men
        ...
31160    Men
31161    Men
31162    Men
31163    Men
31164    Men
Name: Gender, Length: 31165, dtype: object

___
**6. Write a program to select multiple columns "Year" and "City" from the DataFrame?**

In [6]:
selected_columns = df[["Year", "City"]]
print(selected_columns)

       Year    City
0      1896  Athens
1      1896  Athens
2      1896  Athens
3      1896  Athens
4      1896  Athens
...     ...     ...
31160  2012  London
31161  2012  London
31162  2012  London
31163  2012  London
31164  2012  London

[31165 rows x 2 columns]

___
**7. Write a program to  filter rows in a DataFrame based on the condition that Gender = Men ?**

In [22]:
import pandas as pd

# Load the summer Olympics dataset
df = pd.read_csv("summer.csv")

# Filter rows where Gender is 'Men'
men_athletes = df[df['Gender'] == 'Men']

# Display the filtered DataFrame
print(men_athletes.head())  # You can use .shape to check how many rows
print("Total male athletes records:", men_athletes.shape[0])

   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
Total male athletes records: 22746

___
**8. Write a program to select and print the first 5 rows and columns 2 to 6 (inclusive) of the DataFrame. Also, print the type of the resulting object?**

In [23]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Select first 5 rows and columns 2 to 6 (inclusive)
subset = df.iloc[:5, 1:6]  # iloc uses 0-based indexing, so 1:6 selects columns 2 to 6

# Print the subset
print(subset)

# Print the type of the resulting object
print("Type of resulting object:", type(subset))

     City     Sport Discipline             Athlete Country
0  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN
1  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT
2  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE
3  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE
4  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE
Type of resulting object: <class 'pandas.core.frame.DataFrame'>

___
**9. Write a program to  delete a column "City" from the DataFrame and print the new dataframe??**

In [24]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Drop the "City" column
df_new = df.drop(columns=["City"])

# Print the new DataFrame
print(df_new)

       Year      Sport           Discipline                    Athlete  \
0      1896   Aquatics             Swimming              HAJOS, Alfred
1      1896   Aquatics             Swimming           HERSCHMANN, Otto
2      1896   Aquatics             Swimming          DRIVAS, Dimitrios
3      1896   Aquatics             Swimming         MALOKINIS, Ioannis
4      1896   Aquatics             Swimming         CHASAPIS, Spiridon
...     ...        ...                  ...                        ...
31160  2012  Wrestling  Wrestling Freestyle         JANIKOWSKI, Damian
31161  2012  Wrestling  Wrestling Freestyle  REZAEI, Ghasem Gholamreza
31162  2012  Wrestling  Wrestling Freestyle             TOTROV, Rustam
31163  2012  Wrestling  Wrestling Freestyle          ALEKSANYAN, Artur
31164  2012  Wrestling  Wrestling Freestyle             LIDBERG, Jimmy

      Country Gender                       Event   Medal
0         HUN    Men              100M Freestyle    Gold
1         AUT    Men              100M Freestyle  Silver
2         GRE    Men  100M Freestyle For Sailors  Bronze
3         GRE    Men  100M Freestyle For Sailors    Gold
4         GRE    Men  100M Freestyle For Sailors  Silver
...       ...    ...                         ...     ...
31160     POL    Men                    Wg 84 KG  Bronze
31161     IRI    Men                    Wg 96 KG    Gold
31162     RUS    Men                    Wg 96 KG  Silver
31163     ARM    Men                    Wg 96 KG  Bronze
31164     SWE    Men                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

___
**10. Write a program to  rename a column "Athlete" to "Participants" in the DataFrame?**

In [25]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Rename the column
df_renamed = df.rename(columns={"Athlete": "Participants"})

# Print the new DataFrame
print(df_renamed.head())  # print first few rows to verify

   Year    City     Sport Discipline        Participants Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver

___
**11. Write a program to select and print the "Participants", "Medal" and "Event" columns for index 10 and 201 from the DataFrame.?**

In [26]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Rename 'Athlete' to 'Participants'
df.rename(columns={"Athlete": "Participants"}, inplace=True)

# Select specific columns and rows by index
selected_data = df.loc[[10, 201], ["Participants", "Medal", "Event"]]

# Print the result
print(selected_data)

          Participants   Medal           Event
10   PEPANOS, Antonios  Silver  400M Freestyle
201    LISTER, William    Gold      Water Polo

___
**12. Write a program to display the first 10 rows of the df DataFrame and check for any missing values in each column.?**

In [27]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Display the first 10 rows
print("First 10 rows of the DataFrame:")
print(df.head(10))

# Check for missing values in each column
print("\nMissing values in each column:")
print(df.isnull().sum())

First 10 rows of the DataFrame:
   Year    City     Sport Discipline                Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming       HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming      DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming     MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming     CHASAPIS, Spiridon     GRE    Men
5  1896  Athens  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
6  1896  Athens  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
7  1896  Athens  Aquatics   Swimming       ANDREOU, Joannis     GRE    Men
8  1896  Athens  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
9  1896  Athens  Aquatics   Swimming          NEUMANN, Paul     AUT    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
5             1200M Freestyle  Bronze
6             1200M Freestyle    Gold
7             1200M Freestyle  Silver
8              400M Freestyle  Bronze
9              400M Freestyle    Gold

Missing values in each column:
Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       4
Gender        0
Event         0
Medal         0
dtype: int64

___
**13. Write a program to select and print the "Country" and "Medal" columns from the df DataFrame, and then print the number of unique values in each of these columns.?**

In [28]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Select and print the 'Country' and 'Medal' columns
selected_columns = df[['Country', 'Medal']]
print("Selected Columns:")
print(selected_columns.head())  # Showing first few rows for brevity

# Print the number of unique values in each selected column
print("\nNumber of unique values:")
print("Unique countries:", selected_columns['Country'].nunique())
print("Unique medals:", selected_columns['Medal'].nunique())

Selected Columns:
  Country   Medal
0     HUN    Gold
1     AUT  Silver
2     GRE  Bronze
3     GRE    Gold
4     GRE  Silver

Number of unique values:
Unique countries: 147
Unique medals: 3

___
**14. Write a program to group the df DataFrame by the "Country" column and calculate the total number of medals for each country. Print the result.?**

In [29]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Group by 'Country' and count the number of medals (non-null entries)
medal_count = df.groupby("Country")["Medal"].count()

# Print the result
print("Total number of medals for each country:")
print(medal_count.sort_values(ascending=False))  # Optional: sort by medal count descending

Total number of medals for each country:
Country
USA    4585
URS    2049
GBR    1720
FRA    1396
GER    1305
       ...
NIG       1
TOG       1
TGA       1
SUD       1
UAE       1
Name: Medal, Length: 147, dtype: int64

___
**15. Write a program to sort the df DataFrame by the "Year" column in descending order and print the first 5 rows of the sorted DataFrame.?**

In [30]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Sort the DataFrame by 'Year' in descending order
sorted_df = df.sort_values(by="Year", ascending=False)

# Print the first 5 rows of the sorted DataFrame
print("Top 5 rows sorted by 'Year' in descending order:")
print(sorted_df.head())

Top 5 rows sorted by 'Year' in descending order:
       Year    City      Sport           Discipline  \
31141  2012  London  Wrestling  Wrestling Freestyle
31143  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle

                                 Athlete Country Gender     Event   Medal
31141  SORYAN REIHANPOUR, Hamid Mohammad     IRI    Men  Wg 55 KG    Gold
31143                       MODOS, Peter     HUN    Men  Wg 55 KG  Bronze
31164                     LIDBERG, Jimmy     SWE    Men  Wg 96 KG  Bronze
31163                  ALEKSANYAN, Artur     ARM    Men  Wg 96 KG  Bronze
31162                     TOTROV, Rustam     RUS    Men  Wg 96 KG  Silver

___
**16. Write a program to add a new column "Century" to the df DataFrame. Classify each event as occurring in the "20th Century" if the "Year" is less than 2000, or the "21st Century" if the "Year" is 2000 or later. Print the first 5 rows to verify the change.**

In [31]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Add the 'Century' column based on the 'Year'
df['Century'] = df['Year'].apply(lambda year: "20th Century" if year < 2000 else "21st Century")

# Print the first 5 rows to verify
print(df.head())

   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal       Century
0              100M Freestyle    Gold  20th Century
1              100M Freestyle  Silver  20th Century
2  100M Freestyle For Sailors  Bronze  20th Century
3  100M Freestyle For Sailors    Gold  20th Century
4  100M Freestyle For Sailors  Silver  20th Century

___
**17. Write a program to filter and print rows from the df DataFrame where the "Country" is "USA" and the "Medal" is "Gold". Also, count the number of rows that meet this condition.**

In [32]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Filter the DataFrame
usa_gold = df[(df["Country"] == "USA") & (df["Medal"] == "Gold")]

# Print the filtered rows
print(usa_gold)

# Count the number of rows
print("\nTotal number of rows where Country is 'USA' and Medal is 'Gold':", len(usa_gold))

       Year    City       Sport           Discipline  \
13     1896  Athens   Athletics            Athletics
15     1896  Athens   Athletics            Athletics
21     1896  Athens   Athletics            Athletics
27     1896  Athens   Athletics            Athletics
29     1896  Athens   Athletics            Athletics
...     ...     ...         ...                  ...
30955  2012  London      Tennis               Tennis
30970  2012  London  Volleyball     Beach Volleyball
30971  2012  London  Volleyball     Beach Volleyball
31125  2012  London   Wrestling  Wrestling Freestyle
31133  2012  London   Wrestling  Wrestling Freestyle

                        Athlete Country Gender             Event Medal
13                BURKE, Thomas     USA    Men              100M  Gold
15               CURTIS, Thomas     USA    Men      110M Hurdles  Gold
21                BURKE, Thomas     USA    Men              400M  Gold
27              GARRETT, Robert     USA    Men      Discus Throw  Gold
29                CLARK, Ellery     USA    Men         High Jump  Gold
...                         ...     ...    ...               ...   ...
30955          WILLIAMS, Serena     USA  Women           Singles  Gold
30970                MAY, Misty     USA  Women  Beach Volleyball  Gold
30971     WALSH JENNINGS, Kerri     USA  Women  Beach Volleyball  Gold
31125  BURROUGHS, Jordan Ernest     USA    Men          Wf 74 KG  Gold
31133     VARNER, Jacob Stephen     USA    Men          Wf 96 KG  Gold

[2235 rows x 9 columns]

Total number of rows where Country is 'USA' and Medal is 'Gold': 2235

___
**18. Write a program to create a new column "Medal Points" in the df DataFrame. Assign 3 points for "Gold", 2 points for "Silver", and 1 point for "Bronze". Print the first 5 rows to verify the changes.**

In [33]:
import pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Define point values for each medal type
medal_points = {"Gold": 3, "Silver": 2, "Bronze": 1}

# Map the medal points to a new column
df["Medal Points"] = df["Medal"].map(medal_points)

# Print the first 5 rows to verify
print(df.head())

   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal  Medal Points
0              100M Freestyle    Gold             3
1              100M Freestyle  Silver             2
2  100M Freestyle For Sailors  Bronze             1
3  100M Freestyle For Sailors    Gold             3
4  100M Freestyle For Sailors  Silver             2

___
**19. Write a program to filter the df DataFrame to include only rows where the "Country" is "USA". Then, group the filtered DataFrame by "Year" and calculate the total number of medals won by the USA each year. Print the results.**

In [19]:
#Code hereimport pandas as pd

# Load the summer.csv file into a DataFrame
df = pd.read_csv('summer.csv')

# Filter rows where Country is 'USA'
usa_df = df[df['Country'] == 'USA']

# Group by Year and count the number of medals
medals_by_year = usa_df.groupby('Year').size()

# Print the results
print(medals_by_year)

Year
1896     20
1900     55
1904    394
1908     63
1912    101
1920    193
1924    198
1928     84
1932    181
1936     92
1948    148
1952    130
1956    118
1960    112
1964    150
1968    149
1972    155
1976    155
1984    333
1988    193
1992    224
1996    260
2000    248
2004    264
2008    315
2012    250
dtype: int64

___
**20. Write a program to identify the athlete who has won the most medals. Display the athlete's name and the total number of medals they have won.**

In [34]:
#Code hereimport pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Count medals per athlete
medal_count = df['Athlete'].value_counts()

# Get the top athlete
top_athlete = medal_count.idxmax()
top_medals = medal_count.max()

# Display result
print(f"Athlete with most medals: {top_athlete}")
print(f"Total medals won: {top_medals}")

Athlete with most medals: PHELPS, Michael
Total medals won: 22

___
**21. Write a program to group the df DataFrame by the "Sport" column and calculate the number of each type of medal (Gold, Silver, Bronze) for each sport. Print the results.**

In [35]:
#Code hereimport pandas as pd

# Load the dataset
df = pd.read_csv("summer.csv")

# Group by Sport and Medal, then count the number of occurrences
medal_count_by_sport = df.groupby(['Sport', 'Medal']).size().unstack(fill_value=0)

# Display the result
print(medal_count_by_sport)

Medal              Bronze  Gold  Silver
Sport
Aquatics             1365  1421    1384
Archery                90   126     113
Athletics            1199  1215    1224
Badminton              52    46      46
Baseball              112   111     112
Basketball            334   342     336
Basque Pelota           0     2       2
Boxing                416   239     239
Canoe                  27    27      27
Canoe / Kayak         334   334     334
Cricket                 0    12      12
Croquet                 2     4       2
Cycling               365   371     369
Equestrian            306   320     313
Fencing               519   552     542
Football              509   503     485
Golf                    4    13      13
Gymnastics            731   820     756
Handball              323   321     329
Hockey                459   486     477
Ice Hockey              8     8      11
Jeu de paume            1     1       1
Judo                  246   123     122
Lacrosse                0    28      31
Modern Pentathlon      60    60      60
Polo                   17    22      27
Rackets                 4     3       3
Roque                   1     1       1
Rowing                888   890     889
Rugby                  23    78      91
Sailing               325   412     372
Shooting              380   384     386
Skating                 9     9       9
Softball               60    60      60
Table Tennis           52    46      46
Taekwondo              48    32      32
Tennis                114    92      90
Triathlon               8     8       8
Tug of War             22    36      36
Volleyball            331   332     331
Water Motorsports       0     5       0
Weightlifting         197   200     196
Wrestling             428   391     393

### Good Luck!